# FIRM INVESTMENTS

In [37]:
import numpy as np
import pandas as pd

In [38]:
df=pd.read_excel('C:\\Users\\ARUN PRAVEEN\\Desktop\\Investors.xlsx')

In [39]:
df.head()

,Firm,Website,Description,Contact,Phone Number,Title,Email,Total Investments,Active Investments,Dry Powder,Notes,Notes 2,Preferred Sectors,Preferred Investment Size,Preferred Transaction Sizes,Preferences,Date of Last Fund Closed,AUM,Type,HQ
0,Techstars,www.techstars.com,Techstars is a mentorship-driven seed stage in...,David Cohen,+1 (408) 524-1400,"Co-Founder, Co-Chief Executive Officer & Board...",david.cohen@techstars.com,502.0,132.0,120.07,Actively Seeking New Investments,"Prefers minority stake, Will syndicate","Beverages, Computer Hardware, Education and Tr...","Accelerator/Incubator, Convertible Debt, Early...",0.10 - 0.20,NaN,11/17/2016,300,Accelerator/Incubator,"Boulder, CO"
1,Y Combinator,www.ycombinator.com,Y Combinator is an accelerator that provides s...,Trevor Blackwell,NaN,Co-Founder & Partner,trevor@ycombinator.com,535.0,250.0,0.96,Actively Seeking New Investments,"Prefers minority stake, Will syndicate",Software,"Accelerator/Incubator, Early Stage VC, Later S...",0.12,NaN,10/16/2015,772.8,Accelerator/Incubator,"Mountain View, CA"
2,Plug and Play Tech Center,www.plugandplaytechcenter.com,Plug and Play is a global accelerator that spe...,Marc Steiner,+1 (650) 614-4800,General Counsel,marc@plugandplaytechcenter.com,411.0,73.0,0,Actively Seeking New Investments,NaN,Software,NaN,0.03 - 0.50,NaN,NaN,NaN,Accelerator/Incubator,"Sunnyvale, CA"
3,Microsoft Accelerator,www.microsoftaccelerator.com,Microsoft Accelerator is an accelerator that p...,Amir Pinchas,NaN,"Principal, Head of Operations and Portfolio & ...",amir.pinchas@microsoftventures.com,391.0,58.0,NaN,Will Consider New Projects,"Prefers minority stake, Will syndicate",Software,"Accelerator/Incubator, Early Stage VC, Later S...",0.05 - 0.30,NaN,NaN,NaN,Accelerator/Incubator,"Seattle, WA"
4,Accel,www.accel.com,"Accel is a Palo Alto, California based venture...",Anne Rockhold,+1 (301) 272-2300,Chief Financial Officer,arockhold@accel.com,200.0,186.0,"4,806.77",Actively Seeking New Investments,NaN,"Commercial Products, Commercial Services, Comm...",NaN,1.00 - 30.00,NaN,11/30/2016,"10,806.40",Venture Capital,"Palo Alto, CA"

In [40]:
df.shape

(9275, 20)

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9275 entries, 0 to 9274
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Firm                         9275 non-null   object
 1   Website                      4112 non-null   object
 2   Description                  9059 non-null   object
 3   Contact                      8020 non-null   object
 4   Phone Number                 5670 non-null   object
 5   Title                        8020 non-null   object
 6   Email                        5915 non-null   object
 7   Total Investments            8540 non-null   float64
 8   Active Investments           4460 non-null   float64
 9   Dry Powder                   1581 non-null   object
 10  Notes                        7218 non-null   object
 11  Notes 2                      4977 non-null   object
 12  Preferred Sectors            8944 non-null   object
 13  Preferred Investment Size    3494 non-null   object
 14  Preferred Transaction Sizes  1395 non-null   object
 15  Preferences                  1155 non-null   object
 16  Date of Last Fund Closed     1193 non-null   object
 17  AUM                          1394 non-null   object
 18  Type                         9275 non-null   object
 19  HQ                           9244 non-null   object
dtypes: float64(2), object(18)
memory usage: 797.1+ KB

In [42]:
df.isna().sum()

Firm                              0
Website                        5163
Description                     216
Contact                        1255
Phone Number                   3605
Title                          1255
Email                          3360
Total Investments               735
Active Investments             4815
Dry Powder                     7694
Notes                          2057
Notes 2                        4298
Preferred Sectors               331
Preferred Investment Size      5781
Preferred Transaction Sizes    7880
Preferences                    8120
Date of Last Fund Closed       8082
AUM                            7881
Type                              0
HQ                               31
dtype: int64

In [43]:
df_cols=['Website','Contact','Phone Number','Email','Notes','Notes 2','Preferred Investment Size','Preferred Transaction Sizes','Preferences','Date of Last Fund Closed']

In [44]:
df.drop(columns=df_cols,inplace=True)

In [45]:
df.head()

,Firm,Description,Title,Total Investments,Active Investments,Dry Powder,Preferred Sectors,AUM,Type,HQ
0,Techstars,Techstars is a mentorship-driven seed stage in...,"Co-Founder, Co-Chief Executive Officer & Board...",502.0,132.0,120.07,"Beverages, Computer Hardware, Education and Tr...",300,Accelerator/Incubator,"Boulder, CO"
1,Y Combinator,Y Combinator is an accelerator that provides s...,Co-Founder & Partner,535.0,250.0,0.96,Software,772.8,Accelerator/Incubator,"Mountain View, CA"
2,Plug and Play Tech Center,Plug and Play is a global accelerator that spe...,General Counsel,411.0,73.0,0,Software,NaN,Accelerator/Incubator,"Sunnyvale, CA"
3,Microsoft Accelerator,Microsoft Accelerator is an accelerator that p...,"Principal, Head of Operations and Portfolio & ...",391.0,58.0,NaN,Software,NaN,Accelerator/Incubator,"Seattle, WA"
4,Accel,"Accel is a Palo Alto, California based venture...",Chief Financial Officer,200.0,186.0,"4,806.77","Commercial Products, Commercial Services, Comm...","10,806.40",Venture Capital,"Palo Alto, CA"

In [47]:
df.isnull().sum()

Firm                     0
Description            216
Title                 1255
Total Investments      735
Active Investments    4815
Dry Powder            7694
Preferred Sectors      331
AUM                   7881
Type                     0
HQ                      31
dtype: int64

In [60]:
df['Title'].fillna(df['Title'].value_counts().index[0],inplace=True)

In [61]:
df['Title'].isna().value_counts()

False    9275
Name: Title, dtype: int64

In [70]:
df['Description'].fillna("Not available",inplace=True)

In [73]:
df.fillna({'Total Investments':0,'Active Investments':0,'Dry Powder':0,'AUM':0},inplace=True)

In [74]:
df['Preferred Sectors'].fillna(df['Preferred Sectors'].value_counts().index[0],inplace=True)

In [75]:
df.isnull().sum()

Firm                   0
Description            0
Title                  0
Total Investments      0
Active Investments     0
Dry Powder             0
Preferred Sectors      0
AUM                    0
Type                   0
HQ                    31
dtype: int64

In [78]:
df['HQ'].fillna(df['HQ'].value_counts().index[0],inplace=True)

In [82]:
df.isnull().sum()

Firm                  0
Description           0
Title                 0
Total Investments     0
Active Investments    0
Dry Powder            0
Preferred Sectors     0
AUM                   0
Type                  0
HQ                    0
dtype: int64

In [84]:
Updated=df.to_excel('C:\\Users\\ARUN PRAVEEN\\Desktop\\Investors updated.xlsx')